{include file="common/blank" /}
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用CcPay多商户码支付系统 <span class="f-14">v1.1</span>免费开源版！</p>
	<p>登录次数：{$data.num} </p><p>登录IP：{$data.last_ip}  登录时间：{$data.last_login}</p>
	<p>CcPay系统交流QQ群：281911918，若有疑问，bug请联系QQ：7435962</p>
	<p>系统基于ThinkPhp V5.0.24，码支付及APP监控部分采用V免签开源项目（在单人收款基础上进行开发，深度开发基于ThinkPhp），后台框架集成H-hui admin。</p>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>感谢V免签提供优质开源项目，感谢h-ui提供优质后台管理模板！<br>
			Copyright &copy;2015-2017 CcPay v1.1 All Rights Reserved.<br>
			本后台系统由<a href="http://www.netchu.cn/" target="_blank" title="CcPay">初创网络科技</a>提供技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script> 
<!--此乃百度统计代码，请自行删除-->

<!--/此乃百度统计代码，请自行删除-->
</body>
</html>