{include file="common/blank" /}
<![endif]-->
<title>操作日志列表</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i>
	首页 <span class="c-gray en">&gt;</span>
	系统管理 <span class="c-gray en">&gt;</span>
	操作日志列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i>
		</a>
</nav>
<div class="page-container">
	<form action="{:url('admin/operation/index')}" method="post">
		<div class="text-c">
			日期范围：
			<input type="text" onfocus="WdatePicker()" id="logmin" name="logmin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" onfocus="WdatePicker()" id="logmax" name="logmax" class="input-text Wdate" style="width:120px;">
			<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="keyword">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
			<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
		<span class="r">共有数据：<strong>{$num}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-sort">
		<thead>
			<tr>
				<th scope="col" colspan="11">操作日志</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="id" value=""></th>
				<th width="40">ID</th>
				<th width="150">操作的管理员</th>
				<th width="150">操作的方法</th>
				<th width="150">操作的时间</th>
			</tr>
		</thead>
		<tbody>
			{volist name="data" id="log"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$log.id}" name="id"></td>
				<td>{$log.id}</td>
				<td>{$log.name}</td>
				<td>{$log.action}</td>
				<td>{$log.time|date='Y-m-d H:i:s',###}</td>
			</tr>
			{/volist}

		</tbody>
	</table>
</div>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0]}// 制定列不参与排序
            ]
        });

    });
    function datadel(obj){
        layer.confirm('确认要批量删除吗？',function(index){
            var id=new Array();
            $('input[name="id"]:checked').each(function(){
                id.push($(this).val());//向数组中添加元素
            });
            console.log(id);
            $.post(
                "{:url('admin/operation/delAll')}",
                {id:id},
                function(data){
                    var data = JSON.parse(data);
                    if(data.status==1){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        document.location.reload();//当前页面
                    }else{
                        var msg = data.msg;
                        layer.msg(msg,{icon:2,time:2000});
                    }
                });
        });
    }

</script>
</body>
</html>