{include file="common/blank" /}
<![endif]-->
<title>删除的用户</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i>
	首页 <span class="c-gray en">&gt;</span>
	用户中心 <span class="c-gray en">&gt;</span>
	删除的用户<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>
			批量删除</a>
		</span>
		<span class="r">共有数据：<strong>{$num}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="90">头像</th>
				<th width="80">会员名</th>
				<th width="90">手机</th>
				<th width="100">邮箱</th>
				<th width="100">登录的ip</th>
				<th width="100">登录的时间</th>
				<th width="130">添加的时间</th>
				<th width="130">更新的时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="data" id="user"}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$user.id}</td>
				<td><img src="{$user.user_logo}" alt="" width="50" height="50"></td>
				<td>{$user.user_name}</td>
				<td>{$user.phone}</td>
				<td>{$user.email}</td>
				<td>{$user.last_ip}</td>
				<td>{$user.last_time|date='Y-m-d H:s:i',###}</td>
				<td>{$user.add_time|date='Y-m-d H:s:i',###}</td>
				<td>{$user.update_time|date='Y-m-d H:s:i',###}</td>
				{if condition='$user.status eq 1'}
				<td class="td-status"><span class="label label-success radius">已启用</span></td>
				{else}
				<td class="td-status"><span class="label label-default radius">已禁用</span></td>
				{/if}
				<td class="td-manage">
					<a title="还原" href="javascript:;" onclick="member_del(this,'{$user.id}')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe66b;</i>
					</a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="common/footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
});

/*用户-还原*/
function member_del(obj,id){
    layer.confirm('确认要还原吗？',function(index){
        $.post(
            "{:url('admin/user/reduction')}",
            {id:id},
            function(data){
                var data = JSON.parse(data);
                if(data.status==1){
                    $(obj).parents("tr").remove();
                    layer.msg('已还原!',{icon:1,time:1000});
                }else{
                    var msg = data.msg;
                    layer.msg(msg,{icon:2,time:2000});
                }
            });
    });
}
</script> 
</body>
</html>