<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>{$title} - {:get_sys('site_title')}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
 <meta content="Coderthemes" name="author" />
 <link rel="shortcut icon" href="/favicon.ico">
 <link href="__STATIC__/user/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
 <link href="__STATIC__/user/css/icons.min.css" rel="stylesheet" type="text/css" />
 <link href="__STATIC__/user/css/app.min.css" rel="stylesheet" type="text/css" />
 <link href="__STATIC__/user/css/public.css" rel="stylesheet">
 <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <style>

 </style>
</head>