<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow, archive">
    <meta name="author" content="{:get_sys('site_author')}">
    <title>{$title} - {:get_sys('site_title')}</title>
    <meta name="description" content="{:get_sys('site_description')}">
    <meta name="keywords" content="{:get_sys('site_keywords')}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="__STATIC__/home/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/home/css/creative.css" rel="stylesheet">
    <link href="__STATIC__/home/css/main.css" rel="stylesheet">
    <link href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet">
    <meta property="og:title" content="{:get_sys('site_name')}">
    <meta property="og:description" content="{:get_sys('site_desc')}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{:get_sys('site_url')}">
    <meta property="og:image" content="{:get_sys('site_logo')}">
</head>