<!-- 左侧菜单开始 -->
<div class="left-nav">
	<div id="side-nav">
		<ul id="nav">
			<li >
				<a href="javascript:;">
					<i class="iconfont">&#xe6eb;</i>
					<cite>商户设置</cite>
					<i class="iconfont nav_right">&#xe6a7;</i>
				</a>
				<ul class="sub-menu">
					<li><a _href="{:url('/user/setting')}"><i class="iconfont">&#xe6a7;</i><cite>商户配置</cite></a></li>
					<li><a _href="{:url('mobile')}"><i class="iconfont">&#xe6a7;</i><cite>监控端</cite></a></li>
					<li><a _href="javescript:;" onClick="x_admin_show('支付测试','{:url('/order/test')}',600,400)"><i class="iconfont">&#xe6a7;</i><cite>支付测试</cite></a></li>
				</ul>
			</li>



			<li>
				<a href="javascript:;"><i class="iconfont">&#xe6f6;</i><cite>收款二维码</cite><i class="iconfont nav_right">&#xe6a7;</i></a>
				<ul class="sub-menu">
					<li><a _href="{:url('/qrcode?type=1')}"><i class="iconfont">&#xe6a7;</i><cite>微信</cite></a></li>
					<li><a _href="{:url('/qrcode?type=2')}"><i class="iconfont">&#xe6a7;</i><cite>支付宝</cite></a></li>
				</ul>
			</li>

			<li>
				<a href="javascript:;">
					<i class="iconfont">&#xe69e;</i>
					<cite>订单管理</cite>
					<i class="iconfont nav_right">&#xe6a7;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="{:url('/order')}">
							<i class="iconfont">&#xe6a7;</i>
							<cite>订单列表</cite>
						</a>
					</li >
				</ul>
			</li>
			<li>
				<a href="javascript:;">
					<i class="iconfont">&#xe726;</i>
					<cite>账号管理</cite>
					<i class="iconfont nav_right">&#xe6a7;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="{:url('/user/info')}">
							<i class="iconfont">&#xe6a7;</i>
							<cite>基本资料</cite>
						</a>
					</li >
					<li>
						<a _href="{:url('/user/pwd')}">
							<i class="iconfont">&#xe6a7;</i>
							<cite>密码修改</cite>
						</a>
					</li >
				</ul>
			</li>

			<!--li>
				<a href="javascript:;">
					<i class="iconfont">&#xe6ae;</i>
					<cite>系统统计</cite>
					<i class="iconfont nav_right">&#xe6a7;</i>
				</a>
				<ul class="sub-menu">
					<li>
						<a _href="html/echarts1.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>拆线图</cite>
						</a>
					</li >
					<li>
						<a _href="html/echarts2.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>柱状图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts3.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>地图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts4.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>饼图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts5.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>雷达图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts6.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>k线图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts7.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>热力图</cite>
						</a>
					</li>
					<li>
						<a _href="html/echarts8.html">
							<i class="iconfont">&#xe6a7;</i>
							<cite>仪表图</cite>
						</a>
					</li>
				</ul>
			</li-->
			<li >
				<a href="javascript:;">
					<i class="iconfont">&#xe6b4;</i>
					<cite>帮助中心</cite>
					<i class="iconfont nav_right">&#xe6a7;</i>
				</a>
				<ul class="sub-menu">
					<li><a _href="html/grid.html"><i class="iconfont">&#xe6a7;</i><cite>文档中心</cite></a></li>
					<li><a _href="{:url('api')}"><i class="iconfont">&#xe6a7;</i><cite>API说明</cite></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->