{include file="common/admin_header" /}
<body class="form-wrap" >

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">用户信息
        </div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" lay-filter="form-setting">
                <div class="layui-form-item">
                    <label class="layui-form-label">商户ID：</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" class="layui-input" value="{$user.mid}" disabled>
                    </div>
                    <div class="layui-form-mid layui-word-aux">当前商户等级：{:get_level_name($user.level)}{if($user.level == 0)}，<span style="color:red">当前等级每日限收10笔！</span>{/if}！</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号：</label>
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" lay-verify="phone" class="layui-input" value="{$user.tel}" disabled>
                    </div>
                    <div class="layui-form-mid layui-word-aux">暂不支持修改手机！</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱：</label>
                    <div class="layui-input-4">
                        <input type="text" name="email" autocomplete="off" lay-verify="email" placeholder="请输入您的E-mail" value="{$user.email}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">输入邮箱号我们将推送手机监控端离线提醒！</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="real_name" lay-verify="required" autocomplete="off" placeholder="请输入您的姓名" value="{$user.real_name}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/admin_footer" /}
<script>
    layui.use(['form', 'layer','element'], function () {
        var form = layui.form,layer = layui.layer,$ = layui.jquery;
        //提交监听
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        window.location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
    })
</script>

<style id="LAY_layadmin_theme">.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}</style>
</body>


</html>