{include file="common/admin_header" /}
<body class="form-wrap" >

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">商户配置
        </div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" lay-filter="form-setting">
                <div class="layui-form-item">
                    <label class="layui-form-label">监控端状态</label>
                    <div class="layui-input-4">
                        <input type="text" autocomplete="off" class="layui-input" value="{if($user.jkstate == -1)}监控端未绑定，请您扫码绑定{elseif($user.jkstate == 0)}监控端已掉线，请您检查App是否正常运行{else}监控端运行正常{/if}" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最后心跳</label>
                    <div class="layui-input-4">
                        <input type="text" placeholder="最后心跳时间" value="{$user.lastheart|date='Y-m-d H:i:s',###}" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最后收款</label>
                    <div class="layui-input-4">
                        <input type="text" placeholder="最后收款时间" value="{$user.lastpay|date='Y-m-d H:i:s',###}" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">配置数据</label>
                    <div class="layui-input-4">
                        <input type="text" value="{:get_sys('site_api')}/{$user.mid}/{$user.apikey}" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">配置二维码</label>
                    <div class="layui-input-4">
                        <img src="http://{:get_sys('site_api')}/enQrcode?url={:get_sys('site_api')}/{$user.mid}/{$user.apikey}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" onclick="window.open('{:get_sys('site_app')}')">下载监控端</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/admin_footer" /}

<style id="LAY_layadmin_theme">.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}</style>
</body>


</html>